/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#background {
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: -mid-gray;
}

.menu-bar {
    -fx-base: -dark-black;
    -fx-font-size: 12pt;
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0em 0.416667em 0em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
   }
   
.tool-bar {
    -fx-base: -dark-black;
    -fx-font-size: 12pt;
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0em 0.416667em 0em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);    
   }

#xAxis{
	-fx-font-weight: bold;
} 

#yAxis{
	-fx-font-weight: bold;
	}
 
.chart-title { 
  -fx-font-size: 2em;
 } 

 
.chart-plot-background {
    -fx-background-color: #040603;
}

.axis-tick-mark, 
.axis-minor-tick-mark, 
.chart-horizontal-grid-lines, 
.chart-vertical-zero-line {
    -fx-stroke: transparent;
}

.chart-alternative-row-fill, .chart-alternative-column-fill{
    -fx-fill: #f5f5f5;
}

.default-color0.chart-series-line {
	-fx-stroke: #007701; 
    -fx-stroke-width: 2px;
    -fx-effect: dropshadow(gaussian, #56FF6B, 10, 0, 0,2 );  
    
    }
    
.chart-line-symbol {
    -fx-background-color: #56FF6B, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 2px;
    -fx-padding: 2px;
}

.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;    
    -fx-opacity: 0.3;    
}

.chart-horizontal-zero-line{
	 -fx-stroke: #3278fa;    
    -fx-opacity: 0.3;  
}
    
    





  